.separator-style
{
	height: 2px;
	background-color: black; 
}

[class*="custom-label-"]
{
	font-weight: 600;
	color: var(--lumo-header-text-color);
}


.custom-label-title-style
{
	font-size: var(--lumo-font-size-xxxl);
}

.custom-label-subtitle-style
{
	font-size: var(--lumo-font-size-xxs);
}