[class*="menu-layout-"]
{
	top: 0px;
	left: 0px;
	position: absolute;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	white-space: nowrap;
	background-color: #f5f5f5;
	padding-left: 4px;
	padding-right: 4px;
	flex-direction: column;
	z-index: 1;
	box-shadow: -10px 0 5px -10px #888 inset;
}

.menu-layout-dynamic
{
	width: 38px;
	transition: width 0.5s ease;
}

.menu-layout-collapsed{
	width: 38px;
}

.menu-layout-dynamic:hover{
	width: 14%;
}

.menu-layout-extended{
	width: 16%;
	position: static;
}

@media screen and (max-width: 1680px) {
	.menu-layout-dynamic:hover{
	width: 16%;
	}
	
	.menu-layout-extended{
	width: 19%;
	position: static;
	}
}

@media screen and (max-width: 1440px) {
	.menu-layout-dynamic:hover{
	width: 18%;
	}
	
	.menu-layout-extended{
	width: 22%;
	position: static;
	}
}

@media screen and (max-width: 1366px) {
	.menu-layout-dynamic:hover{
	width: 20%;
	}
	
	.menu-layout-extended{
	width: 25%;
	position: static;
	}
}

@media screen and (max-width: 1280px) {
	.menu-layout-dynamic:hover{
	width: 22%;
	}
	
	.menu-layout-extended{
	width: 28%;
	position: static;
	}
}

@media screen and (max-width: 1152px) {
	.menu-layout-dynamic:hover{
	width: 24%;
	}
	
	.menu-layout-extended{
	width: 32%;
	position: static;
	}
}

@media screen and (max-width: 1024px) {
	.menu-layout-dynamic:hover{
	width: 26%;
	}
	
	.menu-layout-extended{
	width: 35%;
	position: static;
	}
}

@media screen and (max-width: 800px) {
	.menu-layout-dynamic:hover{
	width: 32%;
	}
	
	.menu-layout-extended{
	width: 46%;
	position: static;
	}
}

[class*="main-app-layout-"]
{
	width: 100%;
	height: 100%;
}

.main-app-layout-base{
}

.main-app-layout-content{
	padding: 0px;
	margin: 0px;
	background-color: #98c3f5;
}

.main-app-layout-content-with-menu{
	padding-left: 38px;
	margin: 0px;
	background-color: #98c3f5;
}

.menu-item-style
{
	border-radius: 3px;
	user-select: none;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 8px 4px 8px 5px;
	transition: background-color 0.5s ease;
}

.menu-item-style:hover {
	background-color: #E7F1FE;
}

.menu-item-icon-rotation{
	-webkit-animation: rotation 0.4s ease;
}

.menu-item-icon-rotation-toggled{
	-webkit-animation: rotation-toggled 0.4s ease;
}

@-webkit-keyframes rotation-toggled {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

.header-item-style
{
	padding: 8px 4px 8px 5px;
	border-radius: 3px;
	user-select: none;
	margin-top: 0px;
	margin-bottom: 20px;
}