.icon-item-rotation-toggle-enabled
{
	-webkit-animation: rotation-toggle-enable 0.4s ease forwards;
}

.icon-item-rotation-toggle-disabled
{
	-webkit-animation: rotation-toggle-disable 0.4s ease forwards;
}

@-webkit-keyframes rotation-toggle-enable {
		from {
				-webkit-transform: rotate(180deg);
		}
		to {
				-webkit-transform: rotate(0deg);
		}
}

@-webkit-keyframes rotation-toggle-disable {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(180deg);
		}
}

.menu-item-icon-rotation{
	-webkit-animation: rotation 0.4s ease;
}

.menu-item-icon-rotation-toggled{
	-webkit-animation: rotation-toggled 0.4s ease;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

@-webkit-keyframes rotation-toggled {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
